<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjk.project.dao.admin.WxMenuDao">

    <sql id="Base_Column_List">
        id,
        pid,
        positionid,
        title,
        type,
        content,
        uid
    </sql>


    <select id="getMenuList" resultType="com.xjk.project.model.WxMenuModel">
        select
        <include refid="Base_Column_List"/>
        from nightsky_wx.wx_menu
        where del=0 order by positionid asc
    </select>





</mapper>