<html>
<style type="text/css">

    #content { float:left; width:100%;}

    #title { border-bottom:1px solid grey;  line-height:50px; height:50px; width:100%; float:left; margin-top:20px;  }

    #title img { height:50px; float:left; margin-left:20px;  }

    #title  span {font-size:35px; margin-left:10px;}

    #menu { float:left; list-style-type:none;  }

    #menu li { float:left; width:100%; font-size:20px; margin-top:5px;}

    #menu li a {text-decoration:none;}

</style>
<div id="content">

    <div id="title">
        <img src="/static/img/logo.png" />
        <span>NightSky</span>
    </div>


    <ul id="menu">
        <li><a href="http://baidu.com" target="rightFrame">用户管理</a></li>
        <li><a href="/member/index">用户管理</a></li>
        <li><a href="/menu/index">菜单管理</a></li>
        <li><a href="">用户管理</a></li>
    </ul>

</div>

</html>